.ipynb_checkpoints/
applications/__pycache__/
applications/.ipynb_checkpoints/
s2sml.egg-info/
s2sml/.ipynb_checkpoints/
results_casper/*/err
results_casper/*/best.pt
results_gust/*/err
results_gust/*/echo_opt/
